@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h2 {
    position: absolute;
    top: 10px;
}

.range-container {
    position: relative;
}

input[type=range] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type=range] + label {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    position: absolute;
    top: -25px;
    left: 110px;
    text-align: center;
    width: 80px;
}

input[type=range]:active {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background-color: #749dd6;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}

input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #749dd6;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -7px;
    -webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
    opacity: 0.8;
}
input[type=range]::-moz-range-track {
    animate: 0.2s;
    background-color: #749dd6;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-moz-range-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #749dd6;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
input[type=range]::-ms-track {
    animate: 0.2s;
    background-color: #749dd6;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-ms-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #749dd6;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    box-sizing: border-box;
}

input[type=range]:active::-ms-fill-lower {
    background: #749dd6;
}

input[type=range]:active::-ms-fill-upper {
    background: #749dd6;
}


footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}